@mixin searchIconStyles {
  top: 50%;
  transform: translateY(-50%);
  color: $grey;
  position: absolute;
}
@mixin sectionStyles {
  border: 1px solid $border-grey;
  box-sizing: border-box;
  box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
  border-radius: 8px;
  background: #ffffff;
}
@mixin bottomInSections {
  background: #fafafa;
  border-top: 1px solid $border-grey;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
}
